/**test*/
svg{
    width: 30px;
    color: white;
}
.icon-cart{
    position: relative;
    margin: 20px 0px 0px 25px;
}
.icon-cart span{
    position: absolute;
    background-color: red;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    top: 50%;
    right: -8px;
}

/* cart */
.cartTab{
    z-index: 100;
    width: 400px;
    background-color: #353432;
    color: #eee;
    position: fixed;
    top: 0;
    right: -400px;
    bottom: 0;
    display: grid;
    grid-template-rows: 70px 1fr 50px 70px;
    transition: .5s;
}
body.showCart .cartTab{
    z-index: 100;
    right: 0;
}
body.showCart .container{
    transform: translateX(-250px);
}
.cartTab h1{
    padding: 20px;
    margin: 0;
    font-weight: 300;
}
.cartTab .btn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.cartTab button{
    background-color: #8E0503;
    border: none;
    font-family: Poppins;
    font-weight: 500;
    cursor: pointer;
}
.cartTab .close{
    background-color: #eee;
}
.cartTab .foot{
    display:flex;
    justify-content: space-between;
    border-top: 1px solid #333;
    height:40px;
    font-size: 16px;
    padding:0 15px;
}

.listCart .item img{
    width: 100%;
}
.listCart .item{
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}
.listCart .quantity span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #eee;
    border-radius: 50%;
    color: #555;
    cursor: pointer;
}
.listCart .quantity span:nth-child(2){
    background-color: transparent;
    color: #eee;
    cursor: auto;
}
.listCart .item:nth-child(even){
    background-color: #eee1;
}
.listCart{
    overflow: auto;
}
.listCart::-webkit-scrollbar{
    width: 0;
}
@media only screen and (max-width: 992px) {
    .listProduct{
        grid-template-columns: repeat(3, 1fr);
    }
}

/* test css cho giỏ hàng */
.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #f8f8f8;
    transition: background-color 0.3s ease;
  }
  
  .cart-item:hover {
    background-color: #e0e0e0;
  }
  
  .cart-item-details {
    display: flex;
    align-items: center;
  }
  
  .product-name, .price, .quantity {
    margin-right: 10px;
    color:#000;
  }
  
  .remove-btn {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .remove-btn:hover, .decrease-btn:hover, .increase-btn:hover {
    background-color: #c82333;
  }

  .decrease-btn, .increase-btn {
    margin-right: 5px;
    padding:0 4px;
    color:#fff;
  }
