*{
    padding:0;
    margin:0;
}
.container-fluid{   
    padding: 0;
    margin: 0 auto;    
}

.section{
    margin-top: 20px;
    padding: 30px
}

p {
    font-size: 20px;
    text-align: justify;
}
